
.portfolioImgContainer {
  /* Optional: center the container if needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioImg {
  height: 400px;       /* Set fixed height */
  width: 400px;        /* Set width equal to height for perfect circle */
  object-fit: cover;   /* Cover to keep aspect ratio and fill */
  border: 3px solid white;  /* Optional white border */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
  border-radius: 50%;  /* Make image circular */
  transition: transform 0.3s ease; /* Smooth scale on hover */
}

.portfolioImg:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

#skills .border:hover {
  background-color: #b1b2b4;
  transition: 0.3s;
  transform: translateY(-4px);
}




.carousel-control-prev-icon,
.carousel-control-next-icon, .carousel-indicators {
  filter: invert(1); /* invert colors to make white icons black */
  background-color: transparent; /* remove default bg */
}

#bgimg {
  background-image:     linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), 
 url('/public/images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 85vh; /* or however tall you want it */
  
}


@media screen and (max-width: 320px) {
  .portfolioImg {
    margin-top: 20px;
    width: 150px; /* or any smaller size */
    height: auto;
  }
}
